.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -24px 0 0 -24px;
  width: 48px;
  height: 48px;
  border: 5px solid rgb(80 160 80);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}