* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/bg-body.gif");
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.125in;
  padding: 0.25in;
  border: 0.0625in solid #f2f2f2;
  background-color: #ffffff;
  width: 3.25in;
  border-radius: 0.125in;
  filter: drop-shadow(0 0.0625in 0.0315in rgb(80 160 80));
}

h1 {
  font-weight: bold;
  font-size: 24pt;
  color: #616162;
}

input {
  padding: 0.0625in;
  border: 1px solid #c3c3c3;
}

#savePassword {
  font-weight: bold;
  font-size: 26pt;
  color: #ffffff;
  background-color: #c3c3c3;
  height: 55px;
  border: none;
  border-radius: 0.125in;
}

#savePassword.allowSubmit {
  background-image: url("/bg-submit.gif");
}